<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://visionfun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3c1f917-6dfd-4a12-beea-c2e813561bbc/resourceGroups/Vision/providers/Microsoft.Web/sites/visionfun</ResourceId>
    <UserName>$visionfun</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://visionfun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>